In [1]:
import pandas as pd, re

accidents = pd.read_csv("data/AviationData.txt",delimiter="|")
accidents.head(2)

,Event Id,Investigation Type,Accident Number,Event Date,Location,Country,Latitude,Longitude,Airport Code,Airport Name,...,Air Carrier,Total Fatal Injuries,Total Serious Injuries,Total Minor Injuries,Total Uninjured,Weather Condition,Broad Phase of Flight,Report Status,Publication Date,
0,20160404X31701,Accident,GAA16CA173,03/30/2016,"Long Island, NC",United States,35.653611,-80.959722,NC26,LONG ISLAND,...,,,,1,2,VMC,,Preliminary,04/04/2016,
1,20160330X23316,Accident,GAA16CA170,03/29/2016,"Ridgeland, SC",United States,32.493333,-80.991944,3J1,RIDGELAND,...,,,,,,,,Preliminary,04/05/2016,

In [2]:
def clean_cols (df):
    return map (lambda x : re.sub(r'[^a-z^0-9]+','_',x.lower().strip()),df.columns)
accidents.columns = clean_cols(accidents)

In [3]:
accidents["event_date"] = pd.to_datetime(accidents["event_date"],errors="coerce")

In [4]:
accidents["total_fatal_injuries"] = pd.to_numeric(accidents["total_fatal_injuries"], errors="coerce")

In [5]:
accidents["fatal"] = (accidents["total_fatal_injuries"].notnull()) & (accidents["total_fatal_injuries"] > 0)

In [6]:
ct_accidents = accidents[accidents["location"].str.contains(", CT")]

## CT Total accidents

In [7]:
max(ct_accidents.count())

451

## CT count of fatal / non-fatal crashes

In [8]:
ct_accidents["fatal"].value_counts()

False    364
True      87
Name: fatal, dtype: int64

In [9]:
ct_fatals = ct_accidents[ct_accidents["fatal"]]

## Total deaths in fatal crashes

In [45]:
ct_fatals["total_fatal_injuries"].sum()

153.0

## Weather conditions in CT fatal crashes

In [10]:
ct_fatals["weather_condition"].value_counts()

 VMC     52
 IMC     34
 UNK      1
Name: weather_condition, dtype: int64

## CT Fatal crashes per year

In [29]:
ct_fatals.groupby(ct_fatals['event_date'].map(lambda x: x.year / 10))["accident_number"].count()

event_date
198    33
199    32
200    16
201     6
Name: accident_number, dtype: int64

## CT fatal crashes by purpose of flight

In [12]:
ct_fatals["purpose_of_flight"].value_counts()

 Personal                66
 Unknown                  6
 Positioning              5
 Business                 4
 Instructional            2
 Ferry                    2
 Executive/Corporate      1
                          1
Name: purpose_of_flight, dtype: int64

In [13]:
ct_fatals.dtypes

event_id                          object
investigation_type                object
accident_number                   object
event_date                datetime64[ns]
location                          object
country                           object
latitude                          object
longitude                         object
airport_code                      object
airport_name                      object
injury_severity                   object
aircraft_damage                   object
aircraft_category                 object
registration_number               object
make                              object
model                             object
amateur_built                     object
number_of_engines                 object
engine_type                       object
far_description                   object
schedule                          object
purpose_of_flight                 object
air_carrier                       object
total_fatal_injuries             float64
total_serious_injuries            object
total_minor_injuries              object
total_uninjured                   object
weather_condition                 object
broad_phase_of_flight             object
report_status                     object
publication_date                  object
                                  object
fatal                               bool
dtype: object

In [14]:
ct_fatals["far_description"].value_counts()

                               76
 Part 91: General Aviation     11
Name: far_description, dtype: int64

In [15]:
accidents["far_description"].value_counts()

                                       56892
 Part 91: General Aviation             17027
 Part 137: Agricultural                 1045
 Non-U.S., Non-Commercial                730
 Part 135: Air Taxi & Commuter           729
 Part 121: Air Carrier                   518
 Non-U.S., Commercial                    501
 Part 129: Foreign                       193
 Unknown                                 175
 Public Use                              170
 Part 133: Rotorcraft Ext. Load           93
 Part 91 Subpart K: Fractional            14
 Part 125: 20+ Pax,6000+ lbs               7
 Part 103: Ultralight                      7
 Armed Forces                              7
 Part 437: Commercial Space Flight         1
 Part 91F: Special Flt Ops.                1
Name: far_description, dtype: int64

In [16]:
accidents.dtypes

event_id                          object
investigation_type                object
accident_number                   object
event_date                datetime64[ns]
location                          object
country                           object
latitude                          object
longitude                         object
airport_code                      object
airport_name                      object
injury_severity                   object
aircraft_damage                   object
aircraft_category                 object
registration_number               object
make                              object
model                             object
amateur_built                     object
number_of_engines                 object
engine_type                       object
far_description                   object
schedule                          object
purpose_of_flight                 object
air_carrier                       object
total_fatal_injuries             float64
total_serious_injuries            object
total_minor_injuries              object
total_uninjured                   object
weather_condition                 object
broad_phase_of_flight             object
report_status                     object
publication_date                  object
                                  object
fatal                               bool
dtype: object

In [17]:
accidents["schedule"].value_counts()

          66654
 UNK       4099
 NSCH      3842
 SCHD      3515
Name: schedule, dtype: int64

In [18]:
ct_accidents["schedule"].value_counts()

          427
 NSCH      13
 SCHD      11
Name: schedule, dtype: int64

In [19]:
ct_accidents["broad_phase_of_flight"].value_counts()

 LANDING         145
 TAKEOFF          92
 APPROACH         66
 CRUISE           53
 MANEUVERING      31
 TAXI             16
 GO-AROUND        13
 CLIMB            12
 DESCENT           8
 STANDING          7
                   6
 UNKNOWN           2
Name: broad_phase_of_flight, dtype: int64

In [20]:
ct_fatals["broad_phase_of_flight"].value_counts()

 APPROACH        25
 MANEUVERING     17
 CRUISE          13
 TAKEOFF          9
 GO-AROUND        7
 LANDING          6
 DESCENT          4
 CLIMB            2
 UNKNOWN          1
 TAXI             1
                  1
 STANDING         1
Name: broad_phase_of_flight, dtype: int64

In [21]:
ct_fatals["engine_type"].value_counts()

 Reciprocating     73
 Turbo Prop         6
 Turbo Shaft        4
 Turbo Fan          2
 Turbo Jet          1
 Unknown            1
Name: engine_type, dtype: int64

In [48]:
ct_accidents["location"].str.title().value_counts().to_frame().head(10)

                  location
 Danbury, Ct            43
 Meriden, Ct            21
 Oxford, Ct             21
 Bridgeport, Ct         21
 Ellington, Ct          18
 Groton, Ct             17
 Plainville, Ct         15
 Hartford, Ct           15
 New Haven, Ct          14
 Burlington, Ct         13

In [23]:
ct_fatals["location"].str.title().value_counts()

 Groton, Ct             7
 Danbury, Ct            6
 Bridgeport, Ct         4
 Oxford, Ct             3
 East Haddam, Ct        3
 Wallingford, Ct        3
 Meriden, Ct            2
 Brooklyn, Ct           2
 Madison, Ct            2
 Greenwich, Ct          2
 Plainville, Ct         2
 Ridgefield, Ct         2
 Stratford, Ct          2
 Burlington, Ct         2
 Eastford, Ct           1
 Glastonbury, Ct        1
 Bloomfield, Ct         1
 Cheshire, Ct           1
 New Haven, Ct          1
 Northford, Ct          1
 Middletown, Ct         1
 Coventry, Ct           1
 Windsor Locks, Ct      1
 Sterling, Ct           1
 Ellington, Ct          1
 Washington, Ct         1
 Gaylordsville, Ct      1
 Windham, Ct            1
 New Fairfield, Ct      1
 Middlebury, Ct         1
 Middlefield, Ct        1
 Pomfret, Ct            1
 Griswold, Ct           1
 Columbia, Ct           1
 Simsbury, Ct           1
 East Granby, Ct        1
 Fairfield, Ct          1
 Old Lyme, Ct           1
 Woodbury, Ct           1
 Killingworth, Ct       1
 So. Windsor, Ct        1
 Hebron, Ct             1
 Marlborough, Ct        1
 Milford, Ct            1
 Salisbury, Ct          1
 So.Glastonbury, Ct     1
 East Haven, Ct         1
 N. Stonington, Ct      1
 Hartford, Ct           1
 Chester, Ct            1
 Somers, Ct             1
 Westbrook, Ct          1
 Southbury, Ct          1
 Killingly, Ct          1
 Montville, Ct          1
 New Milford, Ct        1
 Shelton, Ct            1
 Canton, Ct             1
 Barkhamsted, Ct        1
Name: location, dtype: int64

ValueError: labels ['fatal'] not contained in axis

In [40]:
ct_fatals.to_csv("ct_fatal_plane_crashes.csv")

In [44]:
ct_fatals.dtypes

event_id                          object
investigation_type                object
accident_number                   object
event_date                datetime64[ns]
location                          object
country                           object
latitude                          object
longitude                         object
airport_code                      object
airport_name                      object
injury_severity                   object
aircraft_damage                   object
aircraft_category                 object
registration_number               object
make                              object
model                             object
amateur_built                     object
number_of_engines                 object
engine_type                       object
far_description                   object
schedule                          object
purpose_of_flight                 object
air_carrier                       object
total_fatal_injuries             float64
total_serious_injuries            object
total_minor_injuries              object
total_uninjured                   object
weather_condition                 object
broad_phase_of_flight             object
report_status                     object
publication_date                  object
                                  object
fatal                               bool
dtype: object

In [49]:
ct_accidents["aircraft_damage"].value_counts()

 Substantial     333
 Destroyed       104
 Minor            11
                   3
Name: aircraft_damage, dtype: int64

In [50]:
ct_accidents["weather_condition"].value_counts()

 VMC     393
 IMC      56
 UNK       2
Name: weather_condition, dtype: int64

In [56]:
ct_accidents["air_carrier"].value_counts()

                                                                 434
 PILGRIM AIRLINES                                                  2
 U.S. EXPRESS                                                      1
 ACTION AIR CHARTERS (DBA: ACTION AIR CHARTERS)                    1
 International Jet Charter, Inc.                                   1
 RYAN INTERNATIONAL AIRLINES                                       1
 (DBA: USAIRWAYS EXPRESS)                                          1
 COASTAL AIR SERVICES, INC.                                        1
 PGA TOUR INVESTMENTS                                              1
 BAR HARBOR AIRWAYS, INC.                                          1
 (DBA: U.S. CHECK)                                                 1
 BRITT AIRWAYS (DBA: CONTINENTAL EXPRESS)                          1
 WICO AVIATION, INC. (DBA: SAME)                                   1
 CONTINENTAL EXPRESS (DBA: CONTINENTAL EXPRESS)                    1
 BRITISH AIRWAYS                                                   1
 AIR CONTINENTAL, INC.                                             1
 CHAMPLAIN ENTERPRISES INC (DBA: CommutAir - United Express)       1
Name: air_carrier, dtype: int64

In [58]:
ct_accidents["far_description"].value_counts()

                                   353
 Part 91: General Aviation          92
 Part 135: Air Taxi & Commuter       2
 Part 121: Air Carrier               1
 Non-U.S., Commercial                1
 Non-U.S., Non-Commercial            1
 Part 91 Subpart K: Fractional       1
Name: far_description, dtype: int64